@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&display=swap');




html {
    min-height:100vh;
    width: 100%;
    margin : 0%;
    padding: 0%;
    background: rgb(9, 16, 41);
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Montserrat', sans-serif;
}

.light_theme-html{
    background-color: rgba(255, 255, 255, 1);
    color: #091540;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .6);
}

body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    /* transform: translatez(0);
    -webkit-transform: translatez(0); */
    /* background-image: linear-gradient(112.1deg, rgba(32, 38, 57, 1) 20%, rgba(63, 76, 119, 1) 80%); */
    background-color: rgb(9, 16, 41);
}

.light_theme-body{
    background-color: #accbee;
    background-color: #ace0f9;
    background-color: white; 
}

header{
    position: fixed;
    width: 100%;
    top: -0.1%;
    z-index: 10;
    margin: 0%;
}

.header-container{
    padding:2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    background-color: rgba(32, 38, 57, 1);
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
}

@media screen and (min-width: 1024px) {
    .header-container{
        padding: 1.5% 2%;
        height: 32px;
    }
}

.light_theme-header{
    background-color: #accbee;
    background: rgba(255, 255, 255, 0.25);
}

.logo{
    object-fit: cover;
    height: 100%;
}

h1,h2,h3,p{
    margin: 0%;
    padding: 0%;
}

ul{
    padding: 0%;
    margin: 0%;
}

li{
    list-style: none;
    padding: 0%;
    margin: 0%;
    width: min-content;
}

/* ///////////////////////////    NAV         ////////////////////////////////////////////////////////////////////// */

nav{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.3px;
}

nav>h3{
    font-weight: 400;
}

.toggle{
    height: 3.5vh;
    width: 3.5vh;
    z-index: 2;
}

.nav-item-button{
    padding: 8px;
    border-radius: 2em;
    background-color: white;
    color: rgba(5, 0, 98, 1);
    transition: all 0.3s;
    cursor: pointer;
}

.nav-item-button:hover{
    transform: scale(1.1);
    background-image: linear-gradient(-225deg, #ee2f9b 0%, #b35cf9 52%, #3737f6 100%);
    color: white;
}



.nav-item-dark{
    transition: all 0.5s;
    color: white;

}

.nav-item-light {
    transition: all 0.5s;
    color: #091540;

}


.nav-item:hover{
    transform: scale(1.2);
}


.visible {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #50A7C2;
    padding: 0%;
    margin: 0%;
}

.hidden {
    display: none;
}

@media screen and (min-width: 1024px) {
    .nav-item-button{
        padding: 16px;
    }
    .nav-item-button-light{
        padding: 16px;
    }
}

/* /////////////////////////    FIN DE NAV     ///////////////////////////////: */




/* ///////////////////////////// FOOTER //////////////////////////////////////////////////// */

footer {
    margin-top: 45%;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 32px;
    padding-bottom: 0%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.87);
}

.light-theme-footer{
    background-color: #091540;
    color: rgba(255, 255, 255, 0.87);
}

footer>img {
    margin-left: 6%;
    height: 30%;
    width: 30%;
}

footer>h3 {
    margin-top: 2rem;
    margin-left: 6%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.footer-coordonnees {
    margin-left: 6%;
    font-weight: 500;
    margin-top: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}


.footer-plan {
    margin-top: 2rem;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
}

.footer-plan>h2 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 300%;
}

.footer-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 4px 0%;
    background-color: rgb(9, 16, 41);
    font-weight: 300;
    color: rgba(255, 255, 255, 0.87);
}

.footer-end>p {
    line-height: 150%;
}

.light-theme-footer-end{
    background-color: #050d28;
    color: rgba(255, 255, 255, 0.87);
}

@media screen and (min-width: 1024px) {
    footer{
        margin-top: 10%;
        padding-top: 40px;
    }
    
    .footer-coordonnees{
        line-height: 150%;
    }

    footer>img{
        height: 10%;
        width: 10%;
    }

    .footer-end{
        padding: 8px;
    }
}

/* //////////////////////////////////// FIN FOOTER ////////////////////////////////////////////////////////// */




/* /////////////////////    HERO BANNER MOBILE /////////////////////////////////////// */

.hero-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 15%;
    min-height: 100vh;
    box-sizing: border-box;
    background-image: linear-gradient(-225deg, #5d123c 0%, #2a123d 52%, #3535a2 100%);
}

.hero-banner-light{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    /* background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%); */
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}


.hero-banner-texte{
    font-family: 'Montserrat', sans-serif;
}


.slogan{
    word-spacing: 10000vw;
    font-size: 14vw;
    font-weight: 800;

}

.slogan-gradient{
    background: -webkit-linear-gradient(-225deg, #ee2f9b 0%, #d8abfc 52%, #8888fb 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.slogan-gradient-light{
    background: -webkit-linear-gradient(135deg, #667eea 50%, #764ba2 100%);
    background: -webkit-linear-gradient(-225deg, #ee2f9b 0%, #d8abfc 52%, #8888fb 100%);
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}



.slogan-sous-texte{
    margin-top: 2vh;
    font-size: 5vw;
    font-weight: 600;
    
}

.hero-banner-image{
    height: 30vh;
    width: 30vh;
    margin-top: 5%;
    transition: all 1s;
    z-index: 1;
}

.hero-banner-button{
    border-radius: 20px;
    padding: 3% 15%;
    font-size: 1rem;
    border: none;
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
    color: rgba(32, 38, 57, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: all 0.3s;
    cursor: pointer;
}

.fleche{
    padding-top: 5%;
    scale: 0.7;
    transition: transform .4s;
    cursor: pointer;
    z-index: 1;

}

.fleche:hover {
    transform: scale(1.25);
}

.hero-banner-button:hover{
    transform: scale(1.1);
}

.wave{
   display: none;
}

.line{
    display: none;
}

.line-light{
    display: none;
}

/* //////////////////////////HERO BANNER MOBILE FIN////////////////////////////////// */




        
@media screen and (min-width: 768px) {
    .hero-banner{
        position: relative;
        flex-direction: column;
        padding: 6%;
        justify-content: center;
        align-items: center;
    }

    .wave {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
    }

    .hero-banner-button{
        padding: 1% 4%;
        border-radius: 50px;
        margin-top: 10%;
        align-items: start;
        z-index: 2;
    }

    .fleche{
        scale: 1;
    }

    .hero-banner-texte{
 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-banner-texte{
        z-index: 2;
        margin-top: 5%;
    }

    .slogan{
        font-size: 6rem;
        word-spacing: normal;
        text-align: center;
    }

    .slogan-sous-texte{
        margin-top: 5%;
        font-size: 2rem;
    }

    .hero-banner-image{
        margin-top: 0%;
        width: 70vh;
        height: 70vh;
        position: absolute;
        filter: brightness(70%);
        transform: translate(-60%,25%);
    }

    .hero-banner-image-light{
        filter: brightness(100%);
    }


    .toggle {
        display: none;
    }

    .hidden {
        display: flex;
    }

    .line {
        display: block;
        margin: auto;
        border-bottom: solid;
        border-color: rgba(255, 255, 255, 0.10);
        height: 0px;
        margin-top: 10%;
        width: 70%;
    }

    .line-light{
        display: block;
        margin: auto;
        border-bottom: solid;
        border-color: rgba(0, 0, 0, 0.10);
        height: 0px;
        margin-top: 10%;
        width: 70%;
    }
    
}




/* //////////////////////////////////////////// HERO BANNER TABLETTE PC //////////////////////////////////////////// */



.presentation{
    margin-top: 30%;  
    padding: 0% 12%;
    position: relative;
}

.presentation>h2{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size: 2.5rem;
    text-align: center;
}

.presentation>p{
    box-sizing: border-box;
    margin-top: 10%;
    font-size: 1rem;
    white-space:pre-wrap;
        /* Webkit */
        white-space: -moz-pre-wrap;
        /* Firefox */
        white-space: -pre-wrap;
        /* Opera <7 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;

    font-family:'Montserrat',sans-serif; 
    padding: 2% 0%;
    line-height: 140%;
}

/* .presentation>img{
    display: none;
} */

@media screen and (min-width: 768px) {

    .presentation>p {
            position: relative;
            z-index: 2;
    }
}

@media screen and (min-width: 1024px) {
    .presentation{
        margin-top: 200px;
    }

    .presentation>p{
        position: relative;
        margin-top: 3%;
        font-size: 1.4rem;
        z-index: 2;
    }

    
}

/* //////////////////////////////// GRID services  ////////////////////////////////////////////// */


.service-titre{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.nos-services-banner{
    display: flex;
    flex-direction: column;
    margin-top: 45%;
}

.nos-services-banner-light{
    padding: 32px 0%;
    color: white;
    position: relative;
}


.nos-services-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10% 6%;
    row-gap: 5%;
    /* color: white; */
}


.service-item{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.service-item>img{
    height: 40%;
    width: 40%;
}

.service-item>h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 10%;
    text-align: center;
    text-transform: uppercase;
}

.service-item>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-top: 3%;
    font-weight: 200;
}

.ensavoirplus-button {
    border-radius: 20px;
    padding: 3% 5%;
    font-size: 1rem;
    border: none;
    background-image: linear-gradient(-225deg, #ee2f9b 0%, #b35cf9 52%, #3737f6 100%);
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: fit-content;
    align-self: end;
    margin-right: 12%;
    margin-top: 5%;
    transition: all 0.3s;
    cursor: pointer;
}

.ensavoirplus-button-light{
    background: linear-gradient(135deg, #667eea 50%, #764ba2 100%);
    color: white;
}

.ensavoirplus-button:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
    .nos-services-banner{
        margin-top: 200px;
    }

    .nos-services-banner-light{
        margin-top: 200px;
        padding: 64px 0%;
    }


    .nos-services-grid{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 5%;
        padding: 5% 6%;
        padding-bottom: 6%;
    }

    .ensavoirplus-button{
        margin: 0%;
        align-self: center;
        padding: 1% 4%;
    }
}

/* /////////////////////////////////// FIN SERVICES ///////////////////////////////////////// */



/* //////////////////////////////////////// NOS REALISATIONS /////////////////////////////////////// */


.nos-realisations-titre{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;
}

.nos-realisations-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45%;
}

.nos-realisations-item{
    padding: 10% 6%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.nos-realisations-item>img{
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: brightness(50%);
}

.item-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Montserrat',sans-serif;
    color: rgba(255, 255, 255, 0.87);
}

.overlay-texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-texte>h3{
    font-weight: 400;
    font-family: 'Cormorant', sans-serif;
}

.overlay-texte>p{
    font-size: 1.5rem;
    line-height: 200%;
    font-family: 'Cormorant', sans-serif;
}

@media screen and (min-width: 1024px) {
    .nos-realisations-banner{
        margin-top: 200px;
    }

    .nos-realisations-banner-light{
        margin-top: 200px;
    }

    .nos-realisations-item{
        padding: 5% 6%;
    }

    .item-overlay{
        transition: all 0.5s ease;
        color: rgba(255, 255, 255, 0.87);
    }

    .nos-realisations-item:hover .item-overlay{
        transform: scale(1.5);
    }

    .nos-realisations-item>img{
        transition: all 0.5s ease;
    }

    .nos-realisations-item:hover>img{
        filter: brightness(0.8);
        transform: scale(1.05);
    }
}


/* ////////////////////////////////// NOS OFFRES PAGE /////////////////////////////////////////////////////////////// */


.offers{
    margin-top: 32%;
}

.offers>h2{
    font-size: 1.618rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0px 16px;
}

.atout{
    margin: 16% 0%;
    margin-bottom: 32%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0% 8%;
}

.atout-item {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.atout-item>h2 {
    font-size: 2.6rem;
    margin-bottom: 16px;
}

.atout-item>h3 {
    font-size: 1.618rem;
}

.atout-item>p {
    padding: 3% 0%;
}


.nos-offres-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 8% 8%;
    margin: 6% 0%;
    gap: 64px;
}

.nos-offres-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 8%;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.nos-offres-item-title {
    font-size: 1.618rem;
    font-weight: 700;
    text-transform: uppercase;
}

.nos-offres-item>p {
    font-weight: 500;
    width: 100%;
    text-transform: uppercase;
}

.nos-offres-item>ul {
    width: 100%;
    align-self: flex-start;
}

.nos-offres-item>ul>li {
    list-style-type: disc;
    width: 100%;
    padding: 3% 0%;
}

.nos-offres-item-line {
    border-bottom: solid;
    width: 100%;
    border-color: rgba(255, 255, 255, 0.10);
}

.nos-offres-item-line-light{
    border-color: rgba(0, 0, 0, 0.10);
}

.prix {
    font-size: 1.618rem;
    font-weight: 500;
    text-transform: uppercase;
}

.nos-offres-item>button {
    padding: 8px 16px;
    border-radius: 2em;
    transition: all 0.3s;
    background-image: linear-gradient(-225deg, #ee2f9b 0%, #b35cf9 52%, #3737f6 100%);
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.nos-offres-item>button:hover {
    transform: scale(1.1);
}

.nos-offres-item-button-light{
    background: linear-gradient(135deg, #667eea 50%, #764ba2 100%);
}

@media screen and (min-width: 1024px) {
.offers{
    margin-top: 10%;
}

.offers>h2{
    font-size: 2.6rem;
    text-align: center;
}

.atout{
    margin: 6% 0%;
    margin-bottom: 12%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0% 8%;
}

.atout-item{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.atout-item>h2{
    font-size: 4.2rem;
    margin-bottom: 2%;
}

.atout-item>h3{
    font-size: 1.618rem;
}

.atout-item>p{
    padding: 3%;
}

.nos-offres-grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 8%;
    gap: 32px;
    margin-bottom: 256px;
}
}



/* ///////////////////////////////////////// NOS OFFRES PAGE END ////////////////////////////////////////////////////: */

/* /////////////////////////////////// NOS CREATIONS PAGE //////////////////////////////////////////////////////// */

.creations-banner{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}


/* ///////////////////////////////////// NOS CREATIONS PAGE END ////////////////////////////////////////////////////////// */


.contact-container {
    padding: 0 16px;
    padding-top: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container>h2 {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 600;
}

form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px;
    padding-bottom: 48px;
    box-sizing: border-box;
    border: solid rgba(0, 0, 0, 0.5);
    border-width: 0.1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
}

form>label {
    text-transform: uppercase;
    margin-top: 16px;
}

form input {
    margin-top: 8px;
    border: none;
    padding: 4px;
    border-radius: 5px;
    background-color: #050d28;
}

form textarea {
    margin: 8px 0px;
    margin-bottom: 32px;
    border: solid rgba(0, 0, 0, 0.5);
    border-width: 0.1px;
    height: 200px;
    padding: 4px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: #050d28;
}


form button {
    display: block;
    padding: 8px 32px;
    border-radius: 25px;
    background-image: linear-gradient(-225deg, #ee2f9b 0%, #b35cf9 52%, #3737f6 100%);
    color: rgba(255, 255, 255, 0.87);
    text-transform: uppercase;
    border-style: none;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 400 !important;
    width: 80%;
    align-self: center;
}

form button:hover {
    scale: 0.99;
}


@media screen and (min-width: 768px) {

    .contact-container {
        padding-top: 160px;
    }

    .command-form {
        padding: 0px 32px;
    }

    .command-form>h2 {
        font-size: 2rem;
        font-weight: 400;
    }

    .command-form>p {
        margin-top: 32px;
    }

    form {
        width: 800px;
        max-width: 1440px;
        padding: 64px;
    }

    form input,
    form textarea {
        padding: 8px;
        font-size: 1.14rem;
    }

    form textarea {
        font-size: 1rem;
    }
}