@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&display=swap');


html {
    min-height:100vh;
    width: 100%;
    margin : 0%;
    padding: 0%;
    background:rgba(32, 38, 57, 1) ;
}

body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    /* transform: translatez(0);
    -webkit-transform: translatez(0); */
    background-image: linear-gradient(112.1deg, rgba(32, 38, 57, 1) 20%, rgba(63, 76, 119, 1) 80%);
}


header{
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 10;
}

.header-container{
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    background-color: rgba(32, 38, 57, 1);
}

.logo{
    object-fit: cover;
    height: 100%;
}

h1,h2,h3,p{
    margin: 0%;
    padding: 0%;
}

ul{
    padding: 0%;
    margin: 0%;
}

li{
    list-style: none;
    padding: 0%;
    margin: 0%;
    width: min-content;
}

/* ///////////////////////////    NAV         ////////////////////////////////////////////////////////////////////// */

nav{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: white;
}

nav>h3{
    font-weight: 400;
}

.toggle{
    height: 3.5vh;
    width: 3.5vh;
    z-index: 2;
}

.nav-item-button{
    padding: 1.2%;
    border-radius: 2em;
    background-color: white;
    color: rgba(5, 0, 98, 1);
    transition: all 0.3s;
}

.nav-item-button:hover{
    transform: scale(1.1);
    color: white;
    background-color: rgba(231, 112, 112, 1);
}

.nav-item{
    transition: all 0.5s;
}

.nav-item:hover{
    transform: scale(1.2);
}


.visible {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #50A7C2;
    padding: 0%;
    margin: 0%;
}

.hidden {
    display: none;
}

/* /////////////////////////    FIN DE NAV     ///////////////////////////////: */




/* ///////////////////////////// FOOTER //////////////////////////////////////////////////// */

footer {
    margin-top: 45%;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 10%;
    padding-bottom: 0%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

footer>img {
    margin-left: 6%;
    height: 30%;
    width: 30%;
}

footer>h3 {
    margin-top: 2rem;
    margin-left: 6%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.footer-coordonnees {
    margin-left: 6%;
    font-weight: 500;
    margin-top: 1.5rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}


.footer-plan {
    margin-top: 2rem;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
}

.footer-plan>h2 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 300%;
}

.footer-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 6% 0%;
    background-color: rgba(32, 38, 57, 1);
    font-weight: 300;
}

.footer-end>p {
    line-height: 150%;
}

@media screen and (min-width: 1024px) {
    footer{
        margin-top: 10%;
        padding-top: 5%;
    }
    
    .footer-coordonnees{
        line-height: 150%;
    }

    footer>img{
        height: 10%;
        width: 10%;
    }

    .footer-end{
        padding: 2% 0%;
    }
}

/* //////////////////////////////////// FIN FOOTER ////////////////////////////////////////////////////////// */




/* /////////////////////    HERO BANNER MOBILE /////////////////////////////////////// */

.hero-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 15%;
    min-height: 100vh;
    box-sizing: border-box;
}


.hero-banner-texte{
    color: white;
    font-family: 'Montserrat', sans-serif;
}


.slogan{
    word-spacing: 10000vw;
    font-size: 14vw;
    font-weight: 800;
    
}

.slogan-gradient{
    background: -webkit-linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;

}



.slogan-sous-texte{
    margin-top: 2vh;
    font-size: 5vw;
    font-weight: 600;
    
}

.hero-banner-image{
    height: 30vh;
    width: 30vh;
    margin-top: 5%;
    transition: all 1s;
}

.hero-banner-button{
    border-radius: 20px;
    padding: 3% 15%;
    font-size: 1rem;
    border: none;
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
    color: rgba(32, 38, 57, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: all 0.3s;
}

.fleche{
    margin-top: 5%;
    scale: 0.7;
}

.hero-banner-button:hover{
    transform: scale(1.1);
}



/* //////////////////////////HERO BANNER MOBILE FIN////////////////////////////////// */




        
@media screen and (min-width: 768px) {
    .hero-banner{
        position: relative;
        flex-direction: column;
        padding: 6%;
        justify-content: center;
        align-items: center;
    }

    .hero-banner-button{
        padding: 1% 4%;
        border-radius: 50px;
        margin-top: 10%;
        align-items: start;
        z-index: 1;
    }

    .fleche{
        scale: 1;
    }

    .hero-banner-texte{
 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-banner-texte{
        z-index: 1;
        margin-top: 5%;
    }

    .slogan{
        font-size: 6rem;
        word-spacing: normal;
        text-align: center;
    }

    .slogan-sous-texte{
        margin-top: 5%;
        font-size: 2rem;
    }

    .hero-banner-image{
        margin-top: 0%;
        width: 70vh;
        height: 70vh;
        position: absolute;
        filter: brightness(70%);
        transform: translate(-60%,25%);
    }


    .toggle {
        display: none;
    }

    .hidden {
        display: flex;
    }
    
}




/* //////////////////////////////////////////// HERO BANNER TABLETTE PC //////////////////////////////////////////// */



.presentation{
    margin-top: 30%;  
    padding: 0% 12%;
    color: white;
    position: relative;
}

.presentation>h2{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size: 2.5rem;
    text-align: center;
}

.presentation>p{
    box-sizing: border-box;
    margin-top: 10%;
    font-size: 1rem;
    white-space:pre-wrap;
        /* Webkit */
        white-space: -moz-pre-wrap;
        /* Firefox */
        white-space: -pre-wrap;
        /* Opera <7 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;

    font-family:'Montserrat',sans-serif; 
    padding: 2% 0%;
    line-height: 140%;
}

.presentation>img{
    display: none;
}

@media screen and (min-width: 768px) {
    .presentation>img {
        display: block;
        height: 50vw;
        width: 50vw;
        transform: rotateZ(30deg) translateX(10%) translateY(-70%);
        filter: brightness(70%);
        position: absolute;
        transition: all 0.5s;
    }

    .presentation>p {
            position: relative;
            z-index: 2;
    }
}

@media screen and (min-width: 1024px) {
    .presentation{
        margin-top: 15%;
    }

    .presentation>p{
        position: relative;
        margin-top: 3%;
        font-size: 1.4rem;
        z-index: 2;
    }

    .presentation>img{
        display: block;
        height: 35vw;
        width: 35vw;
        transform: rotateZ(30deg) translateX(60%) translateY(-90%);
        filter: brightness(70%);
        position: absolute;
        transition: all 0.5s;
    }
}

/* //////////////////////////////// GRID services  ////////////////////////////////////////////// */


.service-titre{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 45%;
}

.nos-services-banner{
    display: flex;
    flex-direction: column;
}

.nos-services-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10% 6%;
    color: white;
    row-gap: 5%;
}


.service-item{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-item>img{
    height: 40%;
    width: 40%;
}

.service-item>h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 10%;
    text-align: center;
}

.service-item>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-top: 3%;
    font-weight: 200;
}

.ensavoirplus-button {
    border-radius: 20px;
    padding: 3% 5%;
    font-size: 1rem;
    border: none;
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
    color: rgba(32, 38, 57, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: fit-content;
    align-self: end;
    margin-right: 12%;
    margin-top: 5%;
    transition: all 0.3s;
}

.ensavoirplus-button:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
    .service-titre{
        margin-top: 30%;
    }

    .nos-services-grid{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 5%;
        padding: 5% 6%;
        padding-bottom: 6%;
    }

    .ensavoirplus-button{
        margin: 0%;
        align-self: center;
        padding: 1% 4%;
    }
}

/* /////////////////////////////////// FIN SERVICES ///////////////////////////////////////// */



/* //////////////////////////////////////// NOS REALISATIONS /////////////////////////////////////// */


.nos-realisations-titre{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 45%;
    font-size: 2.5rem;
}

.nos-realisations-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nos-realisations-item{
    padding: 10% 6%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.nos-realisations-item>img{
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: brightness(50%);
}

.item-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-family: 'Montserrat',sans-serif;
}

.overlay-texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-texte>h3{
    font-weight: 400;
    font-family: 'Cormorant', sans-serif;
}

.overlay-texte>p{
    font-size: 1.5rem;
    line-height: 200%;
    font-family: 'Cormorant', sans-serif;
}

@media screen and (min-width: 1024px) {
    .nos-realisations-titre{
        margin-top: 20%;
    }

    .nos-realisations-item{
        padding: 5% 6%;
    }

    .item-overlay{
        transition: all 0.5s ease;
    }

    .nos-realisations-item:hover .item-overlay{
        transform: scale(1.5);
    }

    .nos-realisations-item>img{
        transition: all 0.5s ease;
    }

    .nos-realisations-item:hover>img{
        filter: brightness(0.8);
        transform: scale(1.05);
    }
}